*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: space-between;
}

.main-logo{
    display: flex;
    
}

.logo-p{
    margin-left: 10px;
    /* font-family: 'Source Sans Pro'; */
font-style: normal;
font-weight: 700;
font-size: 31.1102px;
line-height: 120%;
/* or 37px */

letter-spacing: -0.025em;

/* Theme/Warning */

color: #F17228;


/* Inside auto layout */

/* flex: none;
order: 0;
flex-grow: 0; */
}

.logo-p span{
    /* font-family: 'Source Sans Pro'; */
font-style: normal;
font-weight: 700;
font-size: 31.1102px;
line-height: 120%;
/* or 37px */

letter-spacing: -0.02em;

/* Theme/Primary */

color: #FFB30E;


/* Inside auto layout */

/* flex: none;
order: 1;
flex-grow: 0; */
}

.deliver{
    display: flex;
}

.deliver p{
    padding-top: 10px;
    /* font-family: 'Source Sans Pro'; */
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 100%;
/* identical to box height, or 18px */


/* Theme/Gray 800 */

color: #424242;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.deliver img{
    /* font-family: 'Font Awesome 5 Free'; */
/* font-style: normal;
font-weight: 900; */
/* font-size: 18px;
line-height: 140%; */
/* or 25px */
/* 
text-align: center; */

}
.deliver span{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 140%;
/* or 25px */



/* Theme/Gray 800 */

color: #424242;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.navlast{
    display: flex;
}

.search {
    display: flex;

  
}

.search p{
    padding-top: 10px;
    /* font-family: 'Source Sans Pro'; */
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 100%;
/* identical to box height, or 18px */

/* text-align: center; */

/* Theme/Gray 800 */

color: #424242;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.button{
    margin-left: 10px;
}


.btn{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 14px 24px;
gap: 10px;

width: 118px;
height: 46px;

background: #FFFFFF;
/* Shadow/1 */

box-shadow: 0px 5px 10px rgba(255, 174, 0, 0.26), 0px 20px 40px rgba(255, 174, 0, 0.29);
border-radius: 8px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.btn span{
    font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 100%;
/* identical to box height, or 18px */

text-align: center;

/* Theme/Gray 800 */

color: #424242;

}


.second-part{
    
}

.second-p{
    /* font-family: 'Source Sans Pro'; */
font-style: normal;
font-weight: 700;
font-size: 58px;
line-height: 100%;
/* identical to box height, or 88px */


/* Theme/White */

color: #FFFFFF;

/* Object shadow 2 */

text-shadow: 0px 14px 15px rgba(255, 174, 0, 0.01), 0px 27px 82px rgba(255, 174, 0, 0.28);

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.pone{
    /* font-family: 'Source Sans Pro'; */
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 120%;
/* or 26px */


color: #504F4F;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.memo{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;
gap: 8px;
border-radius: 20px;
width: 100%;
height: 30%;

/* Theme/White */

background: #FFFFFF;

/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.btn {
    display: flex;
flex-direction: row;
align-items: flex-start;
/* padding: 10px 24px; */
gap: 10px;



background: rgba(241, 114, 40, 0.1);
border-radius: 8px;

/* Inside auto layout */


}









































@media screen and (max-width: 480px) {
    .deliver {
      display: none;
    }
    .search{
        display: none;
    }
  }